body {
  min-height: 100vh;
  display: grid;
  justify-content: center;
  align-items: center;
}

select {
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.25);
  font-size: 1.5rem;
  padding: 1rem 4rem 1rem 1.5rem;
  background: #4d5061;
  color: #fff;
  /* appearance: none; */
  border: none;
}

.custom-select {
  position: relative;
}

.custom-arrow {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  background: #3b3c47;
  width: 3rem;
  height: 100%;
  pointer-events: none;
}

.custom-arrow::before,
.custom-arrow::after {
  --size: 0.6rem;

  content: '';
  position: absolute;
  width: 0;
  height: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.custom-arrow::before {
  border-left: var(--size) solid transparent;
  border-right: var(--size) solid transparent;
  border-bottom: var(--size) solid rgba(255, 255, 255, 0.5);
  top: 40%;
}

.custom-arrow::after {
  border-left: var(--size) solid transparent;
  border-right: var(--size) solid transparent;
  border-top: var(--size) solid rgba(255, 255, 255, 0.5);
  top: 60%;
}
